footer {
    background-color: #6278f7;
    width: 100%;
    height: 213px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-image {
    width: 100%;
    height: 213px;
    position: absolute;
}

.icon img {
    padding: 1em;

}

footer p {
    color: #FFFF;
    font-weight: 500;
    font-size: 1.25rem
}
